<Project Sdk="Microsoft.VisualStudio.JavaScript.Sdk/0.6.203">
  <PropertyGroup>
    <TypeScriptCompileBlocked>true</TypeScriptCompileBlocked>
    <ESProjectVersion>1.0</ESProjectVersion>
  </PropertyGroup>
</Project>

