<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - PowerApproval</title>
</head>
<body>
    @RenderBody()
    @await Html.PartialAsync("~/Views/Shared/_ReactAssets.cshtml")
</body>
</html>

