using Microsoft.AspNetCore.Mvc;

namespace {{SERVER_NAME}}.Controllers
{
    public class HomeController : Controller
    {
        public IActionResult Index()
        {
            ViewBag.Title = "Welcome to {{PROJECT_NAME}}";
            return View();
        }

        public IActionResult About()
        {
            ViewBag.Title = "About Us - {{PROJECT_NAME}}";
            return View();
        }

        public IActionResult Contact()
        {
            ViewBag.Title = "Contact Us - {{PROJECT_NAME}}";
            return View();
        }
    }
}

