using Microsoft.AspNetCore.Mvc;

namespace ReactNetCorePOC.Server.Controllers
{
    public class HomeController : Controller
    {
        public IActionResult Index()
        {
            ViewBag.Title = "Welcome to ReactNetCorePOC";
            return View();
        }
    }
}

